{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <title>DjangoProyect - Registro</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <h1>Registro</h1>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <!--formulario de registro de nuevo usuario-->
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="Registrarse">
                    <a class="btn btn-secondary mt-2" href="{% url 'login' %}">Volver al login</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


</html>